<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.testinterface.TestMapper">

<!--    select id 를 그대로 함수명으로 사용-->
    <select id="testConnection" resultType="int">
        SELECT COUNT(*) FROM create_news
    </select>
<!--list<string>인데 여기는 맞춰줄 필요없음?-->
    <select id="getDescriptions" resultType="String">
        SELECT DESCRIPTION FROM create_news
    </select>

<!--    회원가입-->
<!--    parametertype은 dto 의 변수 이름이 db와 같다면 굳이 안넣어도됨 -->
    <insert id='SignUp'>
        INSERT INTO MEMBER (MEMBER_NUM,ID, PASSWORD, NAME, EMAIL, AGE, GENDER,SIGNUP_AT)
        VALUES (SEQ_MEMBER_NUM.NEXTVAL, #{id}, #{password}, #{name}, #{email}, #{age}, #{gender}, SYSTIMESTAMP)
</insert>


<!--로그인-->
        <select id="SignIn" resultType="int">
            SELECT COUNT(*) FROM MEMBER WHERE ID = #{id} AND PASSWORD = #{password}
        </select>
<!--이메일 중복체크-->
    <select id="checkEmailExists" resultType="int">
-- 이메일이 같다면  count(*)가 1이상이면 중복이라는 뜻
        SELECT COUNT(*) FROM member WHERE email = #{email}
    </select>


    <!-- 뉴스기사 -->
    <resultMap id="createNewsResultMap" type="com.example.server.dto.CreateNews">
        <result property="createNewsNum" column="CREATE_NEWS_NUM"/>
        <result property="category" column="CATEGORY"/>
        <result property="createNewsDate" column="CREATE_NEWS_DATE"/>
        <result property="title" column="TITLE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="joind" column="JOIND"/>
        <result property="likeCount" column="LIKE_COUNT"/>
        <result property="dislikeCount" column="DISLIKE_COUNT"/>
        <result property="pubDate" column="PUB_DATE"/>
        <result property="keyword" column="KEYWORD"/>
        <result property="clusterNum" column="CLUSTER_NUM"/>
        <result property="literaryStyle" column="LITERARY_STYLE"/>
        <result property="thumbnailPrompt" column="THUMBNAIL_PROMPT"/>
    </resultMap>

    <select id="selectCreateNewsList" resultMap="createNewsResultMap">
        SELECT CREATE_NEWS_NUM, CATEGORY, CREATE_NEWS_DATE, TITLE, DESCRIPTION, JOIND,
        LIKE_COUNT, DISLIKE_COUNT, PUB_DATE, KEYWORD, CLUSTER_NUM, LITERARY_STYLE, THUMBNAIL_PROMPT
        FROM create_news
    </select>

    <select id="selectCreateNewsListPaginated" resultMap="createNewsResultMap">
        SELECT *
            FROM (
            SELECT *
            FROM create_news
            ORDER BY CREATE_NEWS_NUM DESC
        )
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="countCreateNews" resultType="long">
        SELECT COUNT(*) FROM create_news
    </select>
</mapper>